.saved {
  margin: 2rem 0 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  color: var(--textColor);
  min-height: 100vh;
}

@media (max-width: 80rem), (max-height: 32rem) {
  .saved {
    margin-left: 0;
    align-items: center;
    margin-bottom: 4rem;
  }
}
