.search-container {
  flex: 1;
  margin: 2rem 0 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--textColor);
  min-height: 100vh;
  gap: 1rem;

  .search {
    width: 27.6rem;
    padding: 1.2rem;
    height: fit-content;
    background-color: var(--postColor);
    border-radius: 10px;
    border: 1px solid var(--bgRightbar);

    .filter {
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      label {
        width: 100%;
        min-height: 2.2rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: var(--search);
        border-radius: inherit;
        cursor: default;
        position: relative;

        .icon {
          min-width: 2.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: inherit;
          font-size: 1.2rem;
          color: var(--textColor);
        }

        .cancel {
          position: absolute;
          right: 0;
          svg {
            border-radius: 50%;
            cursor: pointer;
          }
        }

        textarea {
          width: 100%;
          resize: none;
          border: none;
          background-color: transparent;
          font-family: inherit;
          outline: none;
          font-size: 0.9rem;
          color: #919191;
          padding: 0.5rem 0;
        }
        textarea::first-line {
          color: var(--textColor);
          font-size: 1rem;
        }
        textarea::-webkit-scrollbar {
          display: none;
        }
      }

      label:hover {
        cursor: text;
      }

      label:focus-within {
        cursor: default;
      }

      .search-result {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        p {
          margin: 0 1.5rem;
          font-size: 0.9rem;

          span {
            color: #919191;
          }
        }

        p:hover {
          color: var(--primaryColor);
          cursor: pointer;
          span {
            color: var(--primaryColor);
          }
        }
      }
    }

    .category {
      display: flex;
      gap: 0.75rem;
    }

    .params {
      button {
        padding: 7px 12px;
        font-size: 0.85rem;
        font-weight: 600;
        border-radius: 20px;
        cursor: pointer;
        gap: 3px;
        color: var(--textColor);
        background-color: var(--search);
        border: 1px solid var(--borderOptionsColor);
        transition: 200ms;
        white-space: nowrap;
        text-transform: capitalize;
      }

      button:focus {
        background-color: var(--bgLogo);
        color: white;
        border: 1px solid var(--borderHoverVisibilityColor);
      }

      .active {
        background-color: var(--bgLogo);
        color: white;
        border: 1px solid var(--borderHoverVisibilityColor);
      }
    }
  }
}

@media (max-width: 80rem), (max-height: 32rem) {
  .search-container {
    margin-left: 0;
    align-items: center;
    margin-bottom: 4rem;
  }
}
