.search-container {
  flex: 1;
  margin: 2rem 0 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--textColor);
  height: 100vh;

  .search {
    width: 27.6rem;
    padding: 1.2rem;
    height: fit-content;
    background-color: var(--postColor);
    border-radius: 10px;
    border: 1px solid var(--bgRightbar);

    .filter {
      border-radius: 20px;

      label {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: var(--search);
        border-radius: inherit;
        cursor: default;
        position: relative;

        .icon {
          min-width: 2.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: inherit;
          font-size: 1.2rem;
          color: var(--textColor);
        }

        .cancel {
          position: absolute;
          right: 0;
          svg {
            border-radius: 50%;
            cursor: pointer;
          }
        }

        input {
          width: 100%;
          padding-right: 2.8rem;
          height: 2.2rem;
          font-size: 1rem;
          font-family: inherit;
          color: var(--textColor);
          border: none;
          border-radius: inherit;
          background-color: var(--search);
          outline: none;
        }
      }

      label:hover {
        cursor: text;
      }

      label:focus-within {
        cursor: default;
      }
    }
  }
}

@media (max-width: 80rem), (max-height: 32rem) {
  .search {
    margin-left: 0;
    align-items: center;
    margin-bottom: 4rem;
  }
}
