.options-container {
  display: flex;
  align-items: center;
  height: 3rem;
  color: var(--textColor);
  margin-right: 0.5rem;
  font-size: 0.9rem;
  position: relative;

  svg {
    cursor: pointer;
  }

  .options {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: var(--postColor);
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    height: fit-content;
    width: 8rem;
    border: 1px solid var(--borderOptionsColor);
    margin-right: 0.3rem;
    -webkit-box-shadow: 0px 0px 9px -6px var(--shadowColor);
    -moz-box-shadow: 0px 0px 9px -6px var(--shadowColor);
    box-shadow: 0px 0px 9px -6px var(--shadowColor);

    p {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 10px;
      gap: 5px;
      text-align: center;

      span {
        color: var(--primaryColor);
        display: flex;
        align-items: center;
      }
    }

    p:hover {
      background-color: var(--bgLocation);
    }

    .error {
      font-size: 0.7rem;
    }
  }
}
